.container 

  %p#notice= notice

  %b School Name: 
  #{@education.school_name}
  %br 
  %b Address:
  = @education.address
  %br
  %b Course Name: 
  = @education.course_name

  = link_to 'Edit', edit_education_path(@education)
  \|
  = link_to 'Back', educations_path
